---
import Legal from '../layouts/Legal.astro';
---

<Legal title="Impressum">
  <h1>Impressum</h1>
  
  <h2>Angaben gemäß § 5 TMG</h2>
  <p>
    DataFortress.cloud GmbH<br />
    Gewerbestraße 13<br />
    82064 Straßlach-Dingharting<br />
    Germany
  </p>

  <h2>Kontakt</h2>
  <p>
    E-Mail: info@datafortress.cloud
  </p>
</Legal>
